<template>
  <div class="logo-container" :class="{ large }">
    <div style="display: flex; margin-left: 10px">
      <img src="@/assets/logo.png" alt="HoneyJars Logo" class="logo" />
      <div>
        <div class="logo-text">HoneyJars</div>
        <div class="logo-desc" v-if="large">
          Distributed Honeypot deployment manager.
        </div>
      </div>
    </div>

    <div v-if="!large" style="flex: 1; justify-self: flex-end">
      <img
        src="@/assets/ucdavis_logo.png"
        style="
          width: 100px;
          object-fit: contain;
          float: right;
          margin-right: 10px;
        "
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    large: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #c2bfbf;
}

.large.logo-container {
  justify-content: center;
  background: transparent;
  border-bottom: none;
  margin-top: 10px;
}

.logo {
  width: 40px;
  object-fit: contain;
}

.large .logo {
  width: 100px;
  margin-top: -13px;
}

.logo-text {
  color: $app-secondary;
  font-size: 20pt;
  font-weight: 600;
  margin-left: 10px;
}

.logo-desc {
  font-weight: 500;
  margin-left: 20px;
}

.large .logo-text {
  font-size: 40pt;
  margin-left: 20px;
  margin-top: -20px;
  font-weight: 600;
  color: darken($app-primary, 5%);
}
</style>
