<template>
  <div class="container" :class="{'no-remotes': !hasRemotes}">
    <div
      style="display: flex; flex-direction: column; align-items: center"
      v-if="!hasRemotes"
    >
      <Header large />
      <v-btn @click="addRemoteDialog = true" depressed style="margin-top: 20px">
        <v-icon left> mdi-plus </v-icon> Add a server to continue
      </v-btn>
      <img
        src="@/assets/ucdavis_logo.png"
        style="
          width: 100px;
          object-fit: contain;
          position: fixed;
          bottom: 20px;
          right: 20px;
        "
      />
    </div>
    <div v-else style="margin: 20px; flex: 1">
      <div style="font-weight: bold; font-size: 16pt; display: flex; justify-content: space-between">
        <span>Servers</span>
        <v-btn @click="addRemoteDialog = true" color="primary" depressed>
          <v-icon left> mdi-plus </v-icon> Add Server
        </v-btn></div>
      <remotes/>
    </div>
    <v-dialog v-model="addRemoteDialog" max-width="600px">
      <v-card style="padding: 20px">
        <add-remotes @added-remote="addRemoteDialog = false" />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Header from "./Header";
import AddRemotes from "./components/AddRemotes";
import Remotes from "./Remotes";
export default {
  name: "Home",
  components: { Remotes, AddRemotes, Header },
  data() {
    return {
      addRemoteDialog: false,
    };
  },
  computed: {
    hasRemotes() {
      return this.$store.state.remotes.allRemotes.length !== 0;
    },
  },
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.container {
  width: 100%;
  display: flex;
}

.container.no-remotes {
  height: 100%;
  justify-content: center;
  align-items: center;
}
</style>
