<template>
  <div class="div-container">
    <div style="min-width: 250px;" v-for="container of filteredContainers"
         :key="`${container.Id}${container.State}`">
      <honey-jar-item
        class="container"

        :container="container"
        :server="server"
      >
      </honey-jar-item>
    </div>
  </div>
</template>

<script>
import HoneyJarItem from "./HoneyJarItem";

export default {
  name: "HoneyJars",
  components: { HoneyJarItem },
  props: {
    server: {
      type: Object,
      required: true
    }
  },
  computed: {
    filteredContainers() {
      return this.server.containers.filter(c => c.Names[0].indexOf("albattani") === -1);
    }
  }
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
