<template>
  <div
    class="container"
    @click="onContainerClick"
  >
    <div class="name">
      <img :src="require(`@/assets/services/${containerService}.png`)" style="width: 30px; object-fit: contain"/>
      <div>{{ containerName }}</div>
      <div style="font-weight: 400; font-size: 11pt">
        {{ containerService }}
      </div>
    </div>
    <v-tooltip top color="black">
      <template v-slot:activator="{ on, attrs }">
        <v-progress-circular v-if="deleting" color="white" :size="20" indeterminate></v-progress-circular>
        <v-icon v-else-if="!isRunning"
          color="rgba(255, 255, 255, 0.9)"
          v-bind="attrs"
          v-on="on"
          @click.stop="deleteContainer"
          style="position: absolute; top: 4px; right: 8px; font-size: 12pt"
        >
          mdi-delete
        </v-icon>
      </template>
      <div>
        <div>ID: {{ container.Id }}</div>
      </div>
    </v-tooltip>
    <div class="footer">
      <div
        class="live-indicator"
        :class="{ live: isRunning }"
      ></div>
      <div>
        {{ isRunning ? "Running" : "Stopped" }}
      </div>
    </div>
    <div style="position: absolute; top: 3px; left: 8px;">
      <v-progress-circular color="white" :size="20" indeterminate v-if="loading"></v-progress-circular>
      <v-icon
        v-else
        color="rgba(255, 255, 255, 0.9)"
        @click.stop="toggleContainer"
        style="font-size: 12pt"
      >
        {{ isRunning ? "mdi-cancel" : "mdi-play" }}
      </v-icon>
    </div>

  </div>
</template>

<script>
export default {
  name: "HoneyJarItem",
  props: {
    container: {
      type: Object,
      required: true,
    },
    server: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      loading: false,
      deleting: false,
    }
  },
  mounted() {
    console.log(this.container.Id);
  },
  computed: {
    isRunning() {
      return this.container.State === "running";
    },
    containerName() {
      return this.container.Names[0].split("/")[1].split("_")[0];
    },
    containerService() {
      const containerNameSplit = this.container.Names[0]
        .split("/")[1]
        .split("_");
      return containerNameSplit.length > 1
        ? containerNameSplit[1]
        : "ERR Service";
    },
  },
  methods: {
    async toggleContainer() {
      this.loading = true;
      if (this.isRunning) {
        await this.$store.dispatch("remotes/stopContainer", {
          host: this.server.host,
          port: this.server.port,
          Id: this.container.Id,
        });
      } else {
        await this.$store.dispatch("remotes/startContainer", {
          host: this.server.host,
          port: this.server.port,
          Id: this.container.Id,
        });
      }
      this.loading = false;
    },
    async deleteContainer() {
      this.deleting = true;
      await this.$store.dispatch("remotes/deleteContainer", {
        host: this.server.host,
        port: this.server.port,
        Id: this.container.Id,
      });
      this.deleting = false;
    },
    onContainerClick() {
      window.open(
        `/honeyjar?host=${encodeURIComponent(this.server.host)}&port=${encodeURIComponent(this.server.port)}&id=${encodeURIComponent(this.container.Id)}`,
        "_blank"
      );
    },
  },
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.container {
  width: 200px;
  height: 200px;
  background: #4e0eaf;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: 50px;
  margin-right: 20px;
}

.container .name {
  font-weight: 600;
  font-size: 14pt;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .footer {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover {
  transform: scale(1.05);
}

.container .live-indicator {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f00;
  margin-right: 5px;
  position: relative;
}

.live-indicator.live {
  background: #55ff00;
}

@keyframes liveness {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0.1;
    transform: scale(2);
  }
}

.container .live-indicator.live::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #55ff00;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
  animation: liveness 1s ease-in-out 0s infinite;
}
</style>
