<template>
  <div>
    {{ log }}
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "JarLog",
  data() {
    return {
      log: "",
      host: this.$route.query.host,
      port: this.$route.query.port,
      containerId: this.$route.query.id,
      lastUpdated: 0,
    };
  },
  async mounted() {
    await this.fetchLog();
    const scheduleFetch = async () => {
      setTimeout(async () => {
        await this.fetchLog();
        scheduleFetch();
      }, 1000);
    };
    scheduleFetch();
  },
  methods: {
    async fetchLog() {
      try {
        const data = (
          await axios.get(
            `http://${this.host}:${this.port}/${this.containerId}/logs?since=${this.lastUpdated}&stdout=true`
          )
        ).data;
        this.log += data;
        this.lastUpdated = Date.now();
      }catch(e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped></style>
