<template>
  <div class="container">
    <div
      class="server"
      v-for="(server, i) of allRemotes"
      :key="`${server.host}_${server.port}`"
      @click="onServerClick(server)"
    >
      <div class="name">Server #{{ i + 1 }}</div>
      <v-tooltip top color="black">
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="rgba(255, 255, 255, 0.9)"
            v-bind="attrs"
            v-on="on"
            style="position: absolute; top: 4px; right: 8px"
          >
            mdi-cloud
          </v-icon>
        </template>
        <div>
          <div><b>Host</b>: {{ server.host }}</div>
          <div><b>Port</b>: {{ server.port }}</div>
        </div>
      </v-tooltip>
      <div class="footer" :set="(totalRunning = runningContainers(server))">
        <div class="live" v-if="totalRunning > 0"></div>
        <div>
          {{ totalRunning > 0 ? totalRunning : "No" }} HoneyJar{{
            totalRunning > 1 ? "s" : ""
          }}
          running
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Remotes",
  computed: {
    allRemotes() {
      return this.$store.state.remotes.allRemotes;
    },
  },
  methods: {
    runningContainers(server) {
      return server.containers.filter((c) => c.State === "running").length;
    },
    onServerClick(server) {
      window.open(
        `/server?host=${encodeURIComponent(
          server.host
        )}&port=${encodeURIComponent(server.port)}`,
        "_blank"
      );
    },
  },
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
}

.server {
  width: 200px;
  height: 200px;
  background: #089f9b;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: 10px;
  margin-right: 10px;
}

.server .name {
  font-weight: 600;
  font-size: 14pt;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
}

.server .footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.server:hover {
  transform: scale(1.05);
}

.server .live {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #55ff00;
  margin-right: 5px;
  position: relative;
}

@keyframes liveness {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0.1;
    transform: scale(2);
  }
}

.server .live::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #55ff00;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
  animation: liveness 1s ease-in-out 0s infinite;
}
</style>
