<template>
  <div style="flex: 1; display: flex; flex-direction: column; height: 100%">
    <div style="margin: 20px; display: flex; justify-content: space-between">
      <div style="display: flex; align-items: center">
        <div class="server-info">
          <v-icon left style="font-size: 12pt">mdi-cloud</v-icon>{{ host }}:{{ port }}
        </div>
        <div
          style="
            display: inline-block;
            font-weight: 600;
            font-size: 15pt;
            color: #3b0d91;
          "
        >
          &nbsp;/ Deployed HoneyJars
        </div>
      </div>
      <v-btn color="primary" depressed @click="deployDialog=true">
        <v-icon left>mdi-rocket-launch</v-icon>
        Deploy HoneyJar
      </v-btn>
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        font-size: 25pt;
        font-weight: 500;
        color: #bdbdbded;
      "
      v-if="server && server.containers.length === 0"
    >
      No HoneyJars deployed yet
      <v-icon color="#BDBDBDED" style="margin-left: 10px; font-size: 25pt"
        >mdi-emoticon-sad-outline</v-icon
      >
    </div>
    <div v-else-if="server" class="honeyjars">
      <honey-jars :server="server" />
    </div>

    <v-dialog v-model="deployDialog" max-width="600px">
      <v-card style="padding: 20px">
        <deploy-honey-jar :server="server" @deployed="deployDialog = false" />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import HoneyJars from "./HoneyJars";
import DeployHoneyJar from "./honeyjars/DeployHoneyJar";
export default {
  name: "ServerInfo",
  components: { DeployHoneyJar, HoneyJars },
  data() {
    return {
      host: this.$route.query.host,
      port: this.$route.query.port,
      deployDialog: false,
    };
  },
  computed: {
    server() {
      return this.$store.state.remotes.allRemotes.find(
        (server) => server.host === this.host && server.port === this.port
      );
    },
  },
};
</script>

<style scoped>
.server-info {
  padding: 10px;
  background: #eee;
  font-size: 11pt;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  border-radius: 5px;
}

.honeyjars {
  flex: 1;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  align-self: center;
  margin-top: -50px;
}
</style>
