<template>
  <div>
    <h2 class="form-name">
      <v-icon style="font-size: 14pt; color: inherit"
        >mdi-beehive-outline</v-icon
      >
      Deploy HoneyJar
    </h2>
    <div style="margin-top: 20px">
      <div style="display: flex">
        <v-text-field
          v-model="name"
          label="Name"
          hint="Alphabets and numbers only"
          outlined
          style="max-width: 250px"
        ></v-text-field>
        <v-select
          v-model="selectedService"
          :items="services"
          label="HoneyJar Type"
          outlined
          style="max-width: 210px; margin-left: 20px"
        >
          <template v-slot:selection="{ item }">
            <img
              :src="require(`@/assets/services/${item}.png`)"
              style="width: 20px; object-fit: contain"
            />&nbsp;&nbsp;{{ item.toUpperCase() }}
          </template>
          <template v-slot:item="{ item }">
            <img
              :src="require(`@/assets/services/${item}.png`)"
              style="width: 20px; object-fit: contain"
            />&nbsp;&nbsp;{{ item.toUpperCase() }}
          </template>
        </v-select>
      </div>

      <div style="display: flex">
        <v-text-field
          v-model="hostPort"
          label="Binding Port"
          placeholder="8022"
          outlined
          aria-autocomplete="off"
          style="max-width: 170px"
        ></v-text-field>
        <v-text-field
          v-model="containerPort"
          label="Container Port"
          placeholder="8022"
          outlined
          aria-autocomplete="off"
          style="max-width: 170px; margin-left: 20px"
        ></v-text-field>
      </div>
      <component :is="selectedService" ref="serviceConfig" />
    </div>
    <div style="margin-top: 15px; display: flex; justify-content: flex-end">
      <v-btn :loading="loading" @click="onDeploy" depressed color="primary">
        <v-icon left> mdi-rocket-launch-outline</v-icon>
        Deploy
      </v-btn>
    </div>
  </div>
</template>

<script>
import sshSimulator from "./sshSimulator";
import http from "./http";
import redis from "./redis";
import https from "./https";
import ftp from "./ftp";
import telnet from "./telnet";
import smtp from "./smtp";
import vnc from "./vnc";

export default {
  name: "DeployHoneyJar",
  components: { sshSimulator, http, redis, https, ftp, telnet, smtp, vnc },
  props: {
    server: {
      type: Object,
      required: true,
    },
  },
  data() {
    return this.getInitialData();
  },

  watch: {
    selectedService(newVal) {
      this.hostPort = this.suggestedPorts[newVal] || "";
      this.containerPort = this.suggestedPorts[newVal] || "";
    }
  },
  methods: {
    getInitialData() {
      return {
        selectedService: "ssh-simulator",
        name: "",
        hostPort: "8022",
        containerPort: "8022",
        loading: false,
        services: [
          "ssh-simulator",
          "redis",
          "ftp",
          "telnet",
          "http",
          "https",
          "smtp",
          "vnc"
        ],
        suggestedPorts: {
          "ssh-simulator": "8022",
          redis: "6379",
          ftp: "8021",
          telnet: "8023",
          http: "8080",
          https: "8443",
          smtp: "8025",
          vnc: "5900"
        },
      };
    },
    async onDeploy() {
      if (!this.hostPort || !this.containerPort || !this.name) {
        return;
      }
      const config = this.$refs.serviceConfig.getConfig();
      if (!config) {
        return;
      }
      const serviceProperties = [{ name: "type", value: this.selectedService }];
      for (const key in config) {
        if (config[key]) {
          serviceProperties.push({ name: key, value: config[key] });
        }
      }
      const reqData = {
        host: this.server.host,
        port: this.server.port,
        name: this.name,
        hostPort: this.hostPort,
        containerPort: this.containerPort,
        serviceConfig: JSON.stringify({
          name: this.selectedService,
          properties: serviceProperties,
          configs: [
            {
              name: "port",
              properties: [
                { name: "port", value: `tcp/${this.containerPort}` },
                { name: "services", value: [this.selectedService] },
              ],
            },
          ],
        }),
      };
      this.loading = true;
      const success = await this.$store.dispatch(
        "remotes/createContainer",
        reqData
      );
      if (success) {
        this.$emit("deployed");
      }
      this.loading = false;
      Object.assign(this.$data, this.getInitialData());
      this.$refs.serviceConfig.resetConfig();
    },
  },
};
</script>

<style scoped lang="scss">
@import "~@/styles/variables.scss";

.form-name {
  color: darken($app-primary, 10%);
}
</style>
