<template>
  <div>
    <v-textarea
      outlined
      label="Welcome Banner"
      v-model="banner"
      hint="Leave this empty for default welcome banner"
      style="max-width: 300px"
    >
    </v-textarea>
  </div>
</template>

<script>
export default {
  name: "ftp",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        banner: "",
      };
    },
    getConfig() {
      return {
        banner: this.banner.trim(),
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
