<template>
  <div>
    <v-select
      outlined
      label="Server"
      v-model="server"
      :items="servers"
      style="max-width: 200px"
    >
    </v-select>
  </div>
</template>

<script>
export default {
  name: "http",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        server: "Apache",
        servers: ["Apache", "Nginx"],
      };
    },
    getConfig() {
      if (!this.server) {
        return false;
      }
      return {
        server: this.server,
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
