<template>
  <div>

  </div>
</template>

<script>
export default {
  name: "https",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {

      };
    },
    getConfig() {
      return {};
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
