<template>
  <div>
    <v-text-field
      label="version"
      v-model="version"
      outlined
      style="max-width: 100px"
    ></v-text-field>
    <v-text-field
      label="OS"
      v-model="os"
      outlined
      style="max-width: 300px"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: "redis",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        version: "4.1.0",
        os: "Linux 2.6.32-431.el6.x86_64 x86_64",
      };
    },
    getConfig() {
      if (!this.version || !this.os) {
        return false;
      }
      return {
        version: this.version,
        os: this.os
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
