<template>
  <div>
    <v-textarea
      outlined
      label="credentials"
      v-model="credentials"
      placeholder="root:davis@123"
      hint="Enter username:password combinations seperated by comma"
      style="max-width: 300px"
    >
    </v-textarea>
  </div>
</template>

<script>
export default {
  name: "sshSimulator",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        credentials: "",
      };
    },
    getConfig() {
      if (!this.credentials) {
        return false;
      }
      return {
        credentials: this.credentials.split(",").map((comb) => comb.trim())
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
