<template>
  <div>
    <v-text-field
      outlined
      label="Prompt"
      v-model="prompt"
      style="max-width: 100px"
    >
    </v-text-field>
  </div>
</template>

<script>
export default {
  name: "telnet",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        prompt: "$",
      };
    },
    getConfig() {
      if (!this.prompt) {
        return false;
      }
      return {
        prompt: this.prompt.trim(),
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
