<template>
  <div>
    <v-text-field
      outlined
      label="Server Name"
      v-model="serverName"
      style="max-width: 150px"
    >
    </v-text-field>
  </div>
</template>

<script>
export default {
  name: "vnc",
  data() {
    return this.getInitialState();
  },
  methods: {
    getInitialState() {
      return {
        serverName: "WS-3244",
      };
    },
    getConfig() {
      if (!this.serverName) {
        return false;
      }
      return {
        "server-name": this.serverName.trim(),
      };
    },
    resetConfig() {
      Object.assign(this.$data, this.getInitialState());
    },
  },
};
</script>

<style scoped></style>
