<template>
  <v-app>
    <Header v-if="hasRemotes" />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Header from "./views/Header";
export default {
  name: "App",
  components: { Header },
  data: () => ({
    //
  }),
  mounted() {
    this.$store.dispatch("remotes/initialize");
  },
  computed: {
    hasRemotes() {
      return this.$store.state.remotes.allRemotes.length !== 0;
    },
  },
};
</script>

<style>
.v-application {
  font-family: Poppins, sans-serif !important;
}
</style>
