<template>
  <div style="display: flex; flex-direction: column">
    <h2>
      <v-icon color="black" style="font-size: 14pt">mdi-cloud</v-icon> Add
      Server
    </h2>
    <div style="display: flex; margin-top: 20px">
      <v-text-field
        label="Host"
        placeholder="127.0.0.1"
        v-model="host"
        hide-details="auto"
        outlined
        required
        style="width: 150px"
      ></v-text-field>
      <v-text-field
        label="Port"
        placeholder="2375"
        v-model="port"
        hide-details="auto"
        outlined
        required
        style="width: 150px; margin-left: 10px"
      ></v-text-field>
    </div>
    <div style="margin-top: 15px; display: flex; align-self: flex-end">
      <v-btn :loading="loading" @click="addRemote" depressed color="primary">
        <v-icon left> mdi-plus </v-icon>
        Add
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddRemotes",
  data() {
    return {
      host: "",
      port: "",
      loading: false,
    };
  },
  methods: {
    async addRemote() {
      if (!this.host || !this.port) {
        return;
      }
      this.loading = true;
      const success = await this.$store.dispatch("remotes/addRemote", {
        host: this.host,
        port: this.port,
      });
      if (success) {
        this.$emit("added-remote");
      }
      this.loading = false;
    },
  },
};
</script>

<style scoped></style>
